# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment files
*.env
*.flaskenv

# VS Code settings
.vscode/
*.code-workspace

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3
instance/
*.db

# Flask specific
*.pyc
*.pyo
*.pyd
*.pkl
*.pid

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
